/*News*/
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.Ntitle{
    margin: 20px 0px 30px 40px;
}

.wraptable{
    margin-left: 100px;
    margin-right: 100px;
}

.news-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.news-table th{
    font-size: 20px;
}

.Action{
    width: 90px;
}

.news-table th,
.news-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.headtitle{
    width:300px
}

.category {
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85em;
}

.action {
  margin-right: 10px;
  cursor: pointer;
}
